<aside class="sidebar">
    <img routerLink="/employee-dashboard" src="assets/logo.png" alt="Logo" class="logo-img" />
    
    <button class="btn primary" (click)="fichar()">
      {{ checkInDone ? 'Check-out' : 'Check-in' }}
    </button>

    <a routerLink="/profile-update" class="btn">Modificar mis datos</a>

    <a routerLink="/records" class="btn">Mis registros</a>

    <a routerLink="/documents" class="btn">Archivos</a>
    
    <div class="logout-container">
      <button class="btn logout-btn" (click)="logout()">Cerrar sesión</button>
    </div>
  </aside>