.sidebar {
  background-color: #0d2c55;
  color: #fff;
  width: 220px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 100%;
}

.sidebar h2 {
  margin-bottom: 20px;
  margin-top: 20px;
}

.btn {
  padding: 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

a.btn {
  text-decoration: none;
  display: inline-block; 
  text-align: center; 

}

.primary {
    
  background-color: #3b82f6;
  color: #fff;
  padding: 20px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;

}

.btn:not(.primary):not(.logout-btn) {
  background-color: #f1f5f9;
  color: #1a1a1a;
}

.logo-img {
  width: 60px;    
  margin-bottom: 20px;
  margin-top: 10px;
  display: block;
  align-self: center;
  cursor: pointer;
}

.logout-container {
  margin-top: auto;
}

.logout-btn {
  background-color: #dc3545;
  color: white;
  padding: 12px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
  width: 100%;
}

