<div class="dashboard-container">
  
  <app-admin-sidebar
    [checkInDone]="checkInDone"
    [fichajeStatus]="fichajeStatus"
    [fichar]="fichar.bind(this)"
    [logout]="logout.bind(this)">
  </app-admin-sidebar>

  <main class="flex-grow-1 p-4">
  <h2 class="text-center mb-4">Modificar roles</h2>

  <div class="table-responsive shadow rounded">
    <table class="table table-bordered table-hover align-middle">
      <thead class="table-dark text-center">
        <tr>
          <th>Nombre</th>
          <th>Apellido(s)</th>
          <th>Email</th>
          <th>Rol Actual</th>
          <th>Nuevo Rol</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        @for (user of paginatedUsers; track $index) {
          <tr>
            <td>{{ user.name }}</td>
            <td>{{ user.surname }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.role }}</td>
            <td>
              <select [(ngModel)]="user.role" class="form-select slim-select">
                <option value='"ADMIN"'>ADMIN</option>
                <option value='"EMPLOYEE"'>EMPLOYEE</option>
              </select>
            </td>
            <td>
              <button class="btn btn-primary btn-sm" (click)="updateRole(user.id, user.role)">Actualizar</button>
            </td>
          </tr>
        }
      </tbody>
    </table>

    @if (successMessage) {
      <div class="alert alert-success mt-3">{{ successMessage }}</div>
    }
    @if (errorMessage) {
      <div class="alert alert-danger mt-3">{{ errorMessage }}</div>
    }

  </div>

  <!-- Paginación -->
   @if (totalPages > 1) {
    <nav class="d-flex justify-content-center mt-3">
      <ul class="pagination">
        <li class="page-item" [class.disabled]="currentPage === 1">
          <button class="page-link" (click)="changePage(currentPage - 1)">Anterior</button>
        </li>
        @for (page of pagesArray; track $index) {
          <li class="page-item" [class.active]="currentPage === page">
            <button class="page-link" (click)="changePage(page)">{{ page }}</button>
          </li>
        }
        <li class="page-item" [class.disabled]="currentPage === totalPages">
          <button class="page-link" (click)="changePage(currentPage + 1)">Siguiente</button>
        </li>
      </ul>
    </nav>
  }
  </main>
</div>



