h2 {
  font-weight: bold;
}

.table th,
.table td {
  text-align: center;
  vertical-align: middle;
  
}

.table {
  background-color: #fff;
}

.pagination .page-link {
  cursor: pointer;
}

.table th,
.table td {
  padding: 0.05rem 0.5rem; /* menos espacio vertical y horizontal */
  font-size: 0.8rem;     /* tamaño de fuente más pequeño (opcional) */
}

.btn {
  padding: 5px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}