<div class="dashboard-container">
  <app-employee-sidebar
    [checkInDone]="checkInDone"
    [fichajeStatus]="fichajeStatus"
    [fichar]="fichar.bind(this)"
    [logout]="logout.bind(this)">
  </app-employee-sidebar>

  <main class="main">
    <header class="header">
      <h1>Dashboard</h1>
    </header>

    <section class="cards">
      <div class="card">
        <h3>{{ totalDocuments }}</h3>
        <p>Documentos subidos</p>
      </div>  
      <div class="registro-historico">
        <h2>Asistencia</h2>
        <ul>
          @for (day of lastFiveDays; track $index) {
          <li>
            <span>{{ day.fecha }}</span>
            <span class="estado" [ngClass]="day.fichado ? ' ok' : 'fail'">
              <i class="fas" [ngClass]="day.fichado ? 'fa-check-circle' : 'fa-times-circle'"></i>
            </span>
          </li>
          }
        </ul>
      </div>
    </section>
  </main>
</div>
