<div class="dashboard-container">
  <app-employee-sidebar
    [checkInDone]="checkInDone"
    [fichajeStatus]="fichajeStatus"
    [fichar]="fichar.bind(this)"
    [logout]="logout.bind(this)">
  </app-employee-sidebar>

  <main class="main">
    <header class="header">
      <h1>Dashboard</h1>
    </header>

    <section class="cards">
      <div class="card">
        <h3>120</h3>
        <p>Empleados</p>
      </div>
      
    </section>

    <section class="charts">
      <div class="chart">
        <h4>Horas Trabajadas</h4>
        <div class="bar-chart">
          <div style="height: 40%"></div>
          <div style="height: 60%"></div>
          <div style="height: 70%"></div>
          <div style="height: 90%"></div>
        </div>
      </div>
      <div class="chart">
        <h4>Asistencia</h4>
        <div class="donut">
          <span>91%</span>
        </div>
      </div>
    </section>
  </main>
</div>
