<div class="dashboard-container">
  <aside class="sidebar">
    <img src="assets/logo.png" alt="Logo de la empresa" class="logo-img" />
    <button class="btn primary">Fichar</button>
    <a routerLink="/users" class="btn">Ver Empleados</a>
    <a routerLink="/users" class="btn">Registrar Empleado</a>
    <a routerLink="/users" class="btn">Modificar rol</a>
  </aside>

  <main class="main">
    <header class="header">
      <h1>Dashboard</h1>
    </header>

    <section class="cards">
      <div class="card">
        <h3>120</h3>
        <p>Empleados</p>
      </div>
      
    </section>

    <section class="charts">
      <div class="chart">
        <h4>Horas Trabajadas</h4>
        <div class="bar-chart">
          <div style="height: 40%"></div>
          <div style="height: 60%"></div>
          <div style="height: 70%"></div>
          <div style="height: 90%"></div>
        </div>
      </div>

      <div class="chart">
        <h4>Asistencia</h4>
        <div class="donut">
          <span>91%</span>
        </div>
      </div>
    </section>
  </main>
</div>
